<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Database</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Plist Manager</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>File Manager</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gesture</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MyFoundation</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Upload Image</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Page Animation</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Autolayout</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Share Data</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>coredata</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>sliderView</string>
		<key>image</key>
		<string>menu_home</string>
		<key>type</key>
		<string>10</string>
	</dict>
</array>
</plist>
